#menu {
    display: flex;
    align-items: center;
}

.left-menu-part {
    height: 40px !important;
}

#logotype {
    width: 100px;
    height: 100px;
}

.lang-btn-group {
    display: flex;
    align-items: center;
}

.lang-btn-group .lang-btn {
    color: #007bff;
    background-color: #d3d3d3;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    height: 40px;
    text-align: center;
    /*text-shadow: #007bff 1px 1px, 0 0 1px #007bff;*/
    padding: 0.5rem 0.75rem;
}

.lang-btn-group .lang-btn.active {
    color: #fff;
    background-color: #007bff;
}

.lang-btn-group .lang-btn:hover {
    color: #fff;
    background-color: #0009ff;
    border-color: #8b2a13;
}

.main-content {
    min-height: 100% !important;
}

.custom-form-label {
    justify-content: left !important;
}